/* Global Content Formatting and Styles */

@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===========================box-sizing=========================================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
     
}
/*====================================================================================*/


body{
	color: #575c7a;
	line-height: 1.5em;
	font-family: Arial;
	font-size: 14px;
	background: #515673 url(../images/background_gradient.jpg) repeat-x 0px 0px;
}

.page_container{
	max-width: 980px;
	height: 100%;
	padding: 0;	
	margin: 0 auto;
	position: relative;
	background-color: #fff;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
 /*************************************************************************************/
 /******************************* Main elements ***************************************/
 /************************************************************************************/

 /*******************************heading style****************************************/

h1{
	font-size: 2em;
	font-weight: normal;
	color: #a6430a;
	margin: 0 0 .5em 0;
}

h2{
	font-size: 1.7em;
	margin: 0 0 1em 0;
}

h3{
	font-size: 1.5em;
	margin: 0 0 1em 0;
}

/***********************************body text and links ***************************************************/

p{
	margin-bottom: .75em;
}

a{
	color: #de9000;
}
a:hover{
	color: #009eff;
}

/*********************************** footer ***************************************************/
footer{
	font-size: .85em;
	color: #9ba0bd;
	background-color: #575c7a;
	padding: 10px 10px 10px 0;
}

 /*************************************************************************************/
 /******************************* individual elements ***************************************/
  /************************************************************************************/

a.cta{
 	text-transform: uppercase;
 	font-size: 0.9em;
 	font-weight: bold;
 	text-decoration: none;
 	margin: .5em 0 0 0;
  padding: 0 12px 0 0;
  border: 1px solid black;
  background: url(../imges/cta_arrow.png) no-repeat right 0px;
}

a.cta:hover{
 	background-position: right -50px;
}

.promo h3{
 	font-size: 1.1em;
 	margin: 0;
}

.promo p{
 	line-height: 1.2em;
  font-size: .9em;
  margin-bottom: .5em
}

.promo.one{
 	background: url(../images/promo_1.jpg);
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.promo.two{
 	background: url(../images/promo_2.jpg);
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.promo.three{
 	background: url(../images/promo_3.jpg);
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

nav a{
	color: #f5a06e;
 	text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: .9em;
}

nav a:hover{
 	color: #fff;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx)
{
  .promo.one { background-image: url(../images/promo_1_2x.jpg); }
  .promo.two { background-image: url(../images/promo_2_2x.jpg); }
  .promo.three { background-image: url(../images/promo_3_2x.jpg); }
}
